* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 100px;
  overflow: hidden;
}
h1 span{
  display: inline-block;
}